/* FONTS */
/* BEGIN Light */
@font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("./fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  /* END Light */
  /* BEGIN Light Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  /* END Light Italic */
  /* BEGIN Regular */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* END Regular */
  /* BEGIN Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("./fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff");
    font-weight: normal;
    font-style: italic;
  }
  /* END Italic */
  /* BEGIN Semibold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("./fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  /* END Semibold */
  /* BEGIN Semibold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff");
    font-weight: 600;
    font-style: italic;
  }
  /* END Semibold Italic */
  /* BEGIN Bold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("./fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  /* END Bold */
  /* BEGIN Bold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
    font-weight: bold;
    font-style: italic;
  }
  /* END Bold Italic */
  /* BEGIN Extrabold */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  /* END Extrabold */
  /* BEGIN Extrabold Italic */
  @font-face {
    font-family: 'Open Sans';
    src: url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("./fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  /* END Extrabold Italic */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans" , sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(203deg) brightness(105%) contrast(105%);
}

.gray {
    filter: brightness(0) saturate(100%) invert(45%) sepia(5%) saturate(112%) hue-rotate(314deg) brightness(90%) contrast(83%);
}

.green {
    filter: brightness(0) saturate(100%) invert(50%) sepia(44%) saturate(543%) hue-rotate(116deg) brightness(94%) contrast(88%);
}

.container {
    display: grid;
    grid-template-areas: "header" "board" "services" "copy" "footer";
    max-width: 1000px;
    margin: 0 auto;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 2em;
}

header a, header p {
    color: #6E6C6C;
}

.header-icon {
    width: 2em;
}

.logo {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.logo img {
    max-width: 300px;
    flex: 1 1 auto;
}

.logo p {
    font-weight: 600;
    font-size: 1.2rem;
    flex: 1 1 auto;
    text-align: center;
    margin: 0 1em;
}

.header-phone > p {
    display: inline-block;
}

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em 3em;
    gap: 2em;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.info p, .info a {
    font-size: 1.2em;
}

.board {
    grid-area: board;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 4em 0;
    background-color: #73CFB0;
    color: white;
}

.board h3 {
    margin: 1.5rem 1rem;
}

.board p {
    margin: 0 1rem;
}


.services {
    grid-area: services;
    padding: 4em 2em;
    background-color: #359881;
    color: white;
}

.services ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
}

.services li {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.services-icon {
    width: 5em;
}

.copy {
    grid-area: copy;
    padding-bottom: 5em;
    border-bottom: 1px  solid #359881;
    border-image: linear-gradient(to right, transparent, #359881 50%, transparent 100%) 100% 1;
}

.copy h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em 0;
    font-size: xx-large;
    font-weight: bold;
    color:#359881;
    margin: 0 1rem;
}

.copy-services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.copy-services-badge {
    width: 20em;
    padding: 3em 4em;
    border: 2px solid #359881;
}

.copy-services-icon {
    width: 4em;
}

.copy-services-details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5em;
    align-items: center;
    color: #6E6C6C;
    margin: 2rem;
}

.copy-services-details a {
    grid-area: 4 / 2;
    justify-self: center;
}

.copy-services-details button {
    background-color: #359881;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

footer {
    grid-area: footer;
    border-top: 1em solid #359881;
    background-color: #6E6C6C;
    display: grid;
    grid-template-areas: "nav store-info" "copyright copyright";
    justify-content: space-between;
    padding: 2rem 3rem;
    gap: 2em;
    color: white;
}

nav {
    grid-area: nav;
}

nav h2 {
    color:#359881;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

nav a{
    color:white;
}

nav a:hover {
    color: #359881;
}

.active {
    color:#359881;
}

.store-info {
    grid-area: store-info;
    justify-self: end;
    text-align: right;
}

.store-info img {
    width: 150px;
}

.store-info p {
    font-size: 0.9em;
}

.copyright {
    grid-area: copyright;
    text-align: center;
}

.copyright p{
    font-size: 0.8em;
}


